// Variables
$main_font: 'Raleway', sans-serif;

$main_font_clr: #1F3E59;
$secondary_font_clr: #fff;

$col_border_clr: #1F3E59;
$form_line_clr: #1F3E59;
$form_line_focus_clr: rgb(255, 103, 111);

$main_bg_clr: lightgray;
$header_bg_clr: #3c74a5;
$lib_log_bg_clr: rgba(211, 211, 211, 0.308);
$form_bg_color: #fff;

$btn_done_clr: #4DCFE0;
$btn_delete_clr: rgb(255, 103, 111);
$btn_border_clr: #1F3E59;
$btn_submit_clr: #4DCFE0;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  background-color: $main_bg_clr;
  font-family: $main_font;
  color: $main_font_clr;
}

body > * {
  box-sizing: border-box;
}

img {
  width: 50px;
}

button, #submit {
  width: 100px;
  padding: 10px;
  margin: 5px 5px 5px 0;

  cursor: pointer;
  border: 3px $btn_border_clr solid;
  border-radius: 3px;
  transition: transform .2s;
  color: $main_font_clr;
  font-size: 12px;
  letter-spacing: 1px;
}

button:hover, #submit:hover {
  transform: scale(1.05);
}

// ===================
// HEADER
// ===================

header {
  padding: 20px;
  max-width: 100%;

  background: $header_bg_clr;
  color: $secondary_font_clr;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.logo {
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  img {
    padding-right: 10px;
  }

  h1 {
    margin: 0;
    letter-spacing: 3px;
  }
}

.lib_log {
  padding: 10px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $lib_log_bg_clr;
  border-radius: 5px;

  p {
    margin-block: 5px;
    font-size: 1rem;
  }
}

.lib_data > *{
  display: inline-block;
}

@media (min-width: 700px){
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }
}

// ===================
// LISTED BOOKS
// ===================

main {
  margin: 20px;
}

.col_label {
  max-width: 100%;
  margin-inline: 50px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 2px $col_border_clr solid;

  h3 {
    margin: 0;
  }
}

.book {
  margin-inline: 50px;
  padding: 10px 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px $col_border_clr solid;

  h4 {
    margin-block: 8px;
    padding-right: 20px;
  }

  &_done {
    background:$btn_done_clr;
  }

  &_unread {
    background: transparent;
  }
    

  &_delete {
    background: $btn_delete_clr;
  }
}

@media (max-width: 700px) {
  .col_label {
    display: none;
  }

  .book {
    margin-inline: auto;
    padding: 10px;
    width: 350px;
    display: block;
    border: 2px $col_border_clr solid;
    border-radius: 5px;

    & + & {
      margin-top: 20px;
    }

    &_title {
      font-size: 25px;
    }
  }
}

// ===================
// LISTING FORM
// ===================
.modal {
  display: none;
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  background-color: rgba(0, 0, 0, 0.6);
}

form {
  background: $form_bg_color;
  width: 300px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 5px $form_line_clr solid;
}

legend {
  text-align: center;
  color: black;
  font-size: larger;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px;
}

label {
  font-weight: 700;
}

::placeholder {
  color: black;
}

fieldset {
  margin-bottom: 20px;
  padding: 0;

  border-style: none;

  & > * {
    margin-block: 20px;
    
    display: block;
  }
  

  input {
    width: 95%;
    padding-block: 7px;
    line-height: 20px;

    display: block;
    border: none;
    border-bottom: 1.5px solid $form_line_clr;
    background: none;
    outline: none;
    transition: 0.2s;
    color: $main_font_clr;
  }

  :focus {
    border-bottom: 1.5px $form_line_focus_clr solid;
  }
}

#submit {
  width: 40%;
  background: $btn_submit_clr;
}

.add_book {
  width: fit-content;
  padding: 0;
  margin: 0;

  bottom: 15px;
  right: 20px;
  position: fixed;
  background: transparent;
  border: none;
}